<%- include('layouts/header') %>

<%- include('layouts/nav') %>

<h1>Ini adalah halaman Index</h1>
<h1>Halo nama saya <%= nama %></h1>
<% mahasiswa.forEach(mhs => { %>
  <ul>
   <li>Nama: <%=mhs.nama %></li>
   <li>Email: <%=mhs.email %></li>
  </ul>
 <% }) %>

<%- include('layouts/footer') %>